* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.App {
  display: flex;
  flex-direction: column;
}
.container {
  min-height: 100%;
}
.top-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.editor {
  width: 33%;
  background-color: rgb(15, 13, 13);
  border-radius: 5px;
  overflow: hidden;
}
.editor .header {
  color: white;
  padding: 7px;
  background-color: rgb(51, 51, 51);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .icon {
  cursor: pointer;
}
.bottom-container {
  border: 1px solid black;
}
iframe {
  height: 45vh;
}
.my-editor {
  height: 100%;
  background-color: black !important;
  border: 1px solid black;
}
